<div class="panel panel-primary widget-content">
        <div class="panel-heading"
            style="font-size:large">{{vm.title}}
        </div>
    
        <div class="panel-body">
            <select class="form-control" 
                        ng-init="vm.selectedDB = vm.databases[0]" 
                        ng-model="vm.selectedDB"
                        ng-options="database.dataModelName for database in vm.databases | orderBy">
            </select>
        </div>
        <div ng-repeat="database in vm.databases" ng-if="database.dataModelName == vm.selectedDB.dataModelName">
        <select
                ng-model="vm.selectedTables"
                ng-options="table for table in database.tables | orderBy"
                multiple
                bs-duallistbox>
        </select>
        </div>
</div> 
<div >
    <button ng-show='vm.selectedTables.length' type="submit" class="btn btn-default btn-block" ng-click="vm.submit()">Show Relations</button>
</div>