<div ng-cloak ng-controller="ManageController">     
	<div class="alert alert-success alert-dismissible" role="alert" ng-show="showSucess">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong>Sucess!</strong><div ng-bind-html="successMsg"></div>
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showError">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong>Error!</strong><div ng-bind-html="errorMsg"></div>
	</div>	
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex" md-center-tabs="true">
      <md-tab label="Start">
        <md-content class="md-padding">
          <p> Add New Configuration for <span class="badge">Application Data Model</span></p>
            <div layout="column" ng-cloak class="md-inline-form">
	          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
			    <div>	
				    <md-input-container>
				        <label>How about a Configuration Name !!!</label>
				        <input type="text" ng-model="newConfigName">
				        <div ng-show="inValidConfigName">Name already present !!!</div>
				      </md-input-container>			      
			    </div>
			  </md-content>
          </div>
        </md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        	<md-button class="md-raised md-primary" ng-click="selectedIndex = 1;" ng-disabled="welcomeNext">Begin</md-button>
        </section>
      </md-tab>
            
      <md-tab label="Data Model"><!-- ng-disabled="disableschema" -->
        <md-content class="md-padding">
        	<p> Specify <span class="badge"> Data Model</span></p>
            <div layout="column" ng-cloak class="md-inline-form">
	          <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
			    <div>	
			      <md-input-container class="md-block" flex-gt-sm>
		            <label>Data Model</label>
		            <md-select ng-model="schemaSelect">
		              <md-option ng-repeat="opt in schemaOptions" ng-value="opt">
		                {{opt}}
		              </md-option>
		            </md-select>
		          </md-input-container>
			    </div>
			    </md-content>			    
			    
			    <!-- JDO or HIBERNATE -->
			    <div ng-show="schemaSelect=='JDO' || schemaSelect=='HIBERNATE'">
			        <md-content md-theme="docs-dark" class="md-padding" layout="column"> 
			            <div layout="row">
							<md-input-container>
			                	<input type="file" accept=".zip" file-model = "fileOne">
			                	<div>Zip file</div>
			                </md-input-container>
			                <md-input-container>
								<!-- <button ng-click="uploadFile()">Upload</button> -->
								<button ng-click="uploadFile();" ng-class="{'btn btn-info':btn0.state == 'DEFAULT','btn btn-warning':btn0.state == 'PENDING','btn btn-success':btn0.state == 'SUCCESS','btn btn-danger':btn0.state == 'FAILED'}"> 
							        <span ng-show="btn0.buttonText == 'Uploading'"><i class="fa fa-spinner fa-spin"></i></span>
							        {{ btn0.buttonText }}
							    </button>
							</md-input-container>
			            </div> 
			        </md-content>			        
		       </div>

		       <!-- ORACLE or MYSQL -->
		       
		       <div ng-show="schemaSelect=='ORACLE' || schemaSelect=='MYSQL'" style="height:45%">
			        <md-content md-theme="docs-dark" class="md-padding" layout="column"> 
						<div layout="row">
							<md-input-container>
								<label>HostName</label>
			                	<input type="text" ng-model="host" ng-value="localhost" ng-change="btn0.buttonText=text[0];btn0.state=states[0]">
			                </md-input-container>
							<md-input-container>
								<label>Port Number</label>							
			                	<input type="number" ng-model="port" value="localhost">
			                </md-input-container>
							<md-input-container>
								<label>Database Name</label>							
			                	<input type="text" ng-model="databaseName" value="localhost">
			                </md-input-container>
							<md-input-container>
								<label>Database UserName</label>							
			                	<input type="text" ng-model="userName" value="localhost">
			                </md-input-container>
			                <md-input-container>
								<label>Database Password</label>							
			                	<input type="text" ng-model="password" value="localhost">
			                </md-input-container>
			                <md-input-container>
				        		<button type="submit" ng-click="testconnection();" ng-class="{'btn btn-info':btn0.state == 'DEFAULT','btn btn-warning disabled':btn0.state == 'PENDING','btn btn-success disabled':btn0.state == 'SUCCESS','btn btn-danger disabled':btn0.state == 'FAILED'}"> 
							        <span ng-show="btn0.buttonText == 'Connecting'"><i class="fa fa-spinner fa-spin"></i></span>
							        {{ btn0.buttonText }}
							    </button>
        					</md-input-container>
			            </div>			        
						<div flex="50" ng-init="host='localhost';port=8080;databaseName='testDB';userName='admin';password='admin'">
  							<div class="well well-sm" style="background-color : black" ng-show="schemaSelect=='ORACLE'">
 									<p>DRIVER CLASS = oracle.jdbc.driver.OracleDriver</p>
									<p>URL = jdbc:oracle:thin:@
										<span class="badge" style="background-color:yellow; color:black">{{host}}</span>:
										<span class="badge" style="background-color:yellow; color:black">{{port}}</span>:
										<span class="badge" style="background-color:yellow; color:black">{{databaseName}}</span>
									</p>
									<p>USERNAME =<span class="badge" style="background-color:yellow; color:black">{{userName}}</span></p>
									<p>PASSWORD =<span class="badge" style="background-color:yellow; color:black">{{password}}</span></p>
								</div>
								<div class="well well-sm" style="background-color : black" ng-show="schemaSelect=='MYSQL'">
 									<p>DRIVER CLASS = com.mysql.jdbc.Driver</p>
									<p>URL = jdbc:mysql://
										<span class="badge" style="background-color:yellow; color:black">{{host}}</span>:
										<span class="badge" style="background-color:yellow; color:black">{{port}}</span>:
										<span class="badge" style="background-color:yellow; color:black">{{databaseName}}</span>
									</p>
									<p>USERNAME =<span class="badge" style="background-color:yellow; color:black">{{userName}}</span></p>
									<p>PASSWORD =<span class="badge" style="background-color:yellow; color:black">{{password}}</span></p>
								</div>
						</div>
			        </md-content>			        
		       </div>
		       
		       <!-- CUSTOM JAR/ZIP -->
          </div>
        </md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        	<md-button class="md-raised md-primary" ng-click="selectedIndex = selectedIndex - 1;" >Previous</md-button>
        	<md-button class="md-raised md-primary" ng-click="selectedIndex = selectedIndex + 1;" ng-disabled="beforecomplete">Next</md-button>
        </section>        
      </md-tab>    
      
      <md-tab label="Complete" ng-disabled="disablecomplete">
      	<md-content class="md-padding">
        <h1 class="md-display-2">Summary </h1>
        <div layout="row" layout-wrap>
  			<div flex="50">
  				<div class="well well-lg" ng-bind-html="summary"></div>
  			</div>
  			<div flex="50">
	  			<section layout="row" layout-sm="column" layout-align="center end" layout-wrap>
	  				<div class="btn-toolbar">
	  				<button type="button" class="btn btn-primary" ng-click="selectedIndex = selectedIndex - 1;">Previous</button>
		        	<button type="button" class="btn btn-success" ng-click="beginDataLoad();">Complete</button>
		        	</div>
	        	</section>    
  			</div>
  		</div>
        </md-content>
      </md-tab>      
    </md-tabs> 
</div>